@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  height: 70%;
  justify-content: center;
}
.container h1 {
  margin-top: 2rem;
}
.container h3 {
  font-size: 2.5rem;
  font-weight: 200;
}
.container h6 {
  font-size: 1.5rem;
  font-weight: 200;
}
section .container .audience-btn {
  width: 9rem;
  height: 2rem;
  background-color: #f1f1f1;
  float: right;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 18px;
}



/* Dropdown CSS */
.hide {
  max-height: 0 !important;
}

.dropdownn{
border: 0.1em solid black;
margin-bottom: 1em;
width: 12rem;
height: 2rem;
background-color: #fff;
float: right;
cursor: pointer;
margin-bottom: 2rem;
color: #333333;
font-size: 18px;
z-index:1000
}

.dropdownn .title{
margin: .3em .3em .3em .3em;	
width: 100%;
}

.dropdownn .title .fa-angle-right{
float: right;
margin-right: .7em;
transition: transform .3s;
}

.dropdownn .menu{
transition: max-height .5s ease-out;
max-height: 20em;
overflow: hidden;
border: #333;
border-radius: 6px solid black;
}

.dropdownn .menu .option{
margin: .3em .3em .3em .3em;
margin-top: 0.3em;
border: #333;
border-radius: 6px solid black;
}

.dropdownn .menu .option:hover{
background: rgba(0,0,0,0.2);
cursor: pointer;
}

.pointerCursor:hover{
cursor: pointer;
}

.rotate-90{
transform: rotate(90deg);
}

.hidden{
  display: none;
}

/* -----addASubscriber Section */
#addASubscriber{
  position: relative;
  display: flex;
  padding:47px;
  margin: 40px;
  top:-6rem;
  display: none;
 }

 #error {
  color: orangered;
  text-align: center;
  background-color: #333;
  justify-items: center;
  align-items: center;
  /* margin-bottom: 2rem; */
  font-weight: 600;
  width: 60%;
}

 input[type=text], [type=email], [type=phone],select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.heading{
  padding: 1px;
  position: relative;
  font-weight: 300;
  font-size: 15px;
  margin: 1px;
  margin-bottom: 20px;
}


.heading h2{
  font-size: 50px;
  margin-top: 20px;
  top:-3rem;
}
.heading p{
  font-size: 15px;
  margin-top: 8px;
  background-color: rgb(34, 174, 230);
  width: 60%;
  text-align: center;
  justify-content: center;
  height: 3rem;
 }

.birth-date {
  display: flex;
  width: 15rem;
  height: 3rem;
  
}
.birth-date h1{
  height: 5rem;
  margin: 10px;
}

input[type=checkbox]  {
width: 1.5rem;
padding: 5px;
margin: 10px;
height: 1.5rem;
position: relative;
display: block;

}
#subscribe {
width: 9rem;
height: 3rem;
background-color: #565758;
color: #fff;
cursor: pointer;
font-size: 16px;
margin: 1rem 1rem;
border-radius: none;
position: absolute;
display: block;
}
@media screen and (max-width: 960px) {
#addASubscriber{
  width: 100%;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
}
h2 h2 h6 p{
  display: block;
  width: 100px;
  padding: 20px;
  margin: 10px;

}
}

/* Radio button */

#importContact{
width: 98vw;
height: 98vh;
padding: 50px;
margin: 50px;
display: none;
padding-bottom: 200px;
margin-bottom: 200px;
}
.containerr{
height: 98vh;
width: 80vw;
padding: 30px;
margin: 30px;
position: relative;
}


input[type="radio"] {
  -ms-transform: scale(2.5); 
  -webkit-transform: scale(2.5); 
  transform: scale(2.5);
}
#importContact h2 p{
position: relative;
padding: 50px;
margin: 5opx;
}


h4{
position: relative;
margin-left: 20px;
top:0px;

}

h6{
  font-size: 20px;
  font-weight: 400;
position: relative;
margin: 20px;
top:-50px;
padding: 20px;
}

.upload {
width: 12rem;
height: 3rem;
background-color: #3885d1;
color: #fff;
cursor: pointer;
font-size: 16px;
margin: 1rem 1rem;
border-radius: none;
position: absolute;
display: block;
}


/* Continue to Organize Page */
#organizeContact{
  
  width: 98vw;
  height: 98vh;
  padding:100px;
  margin: 100px;
  display: none;
  
}
.organizeCont{
  width: 60%;
  height: 30%;
  background-color: rgb(238, 235, 235);
  padding: 50px;
  margin: 50px;
}

.organize{
position: relative;
width: 15rem;
height: 3rem;
background-color: #3885d1;
color: #fff;
cursor: pointer;
font-size: 16px;
margin-bottom: 20px;
border-radius: none;
position: absolute;
display: block;
margin-top: 40px;
left: 15.5rem;

}
h3{
  padding: 25px;
  margin: 25px;
}
.uploadimg{
  position: relative;
  width: 3rem;
  height: 2rem;
 margin-bottom: 40px;
  left: 44%;
  top: -38px;
  
}
/* h5{
  font-size: 25px;
  left: 32%;
  top: -100px;
} */


/* Manage Contact */
#manageContact{
position: relative;

margin: 50px 50px 50px 50px;
width: 98vw;
height: 98vh;
display: none;
padding: 50px;
margin: 50px;
margin-bottom: 150px;

}

.mgContainer{
margin-bottom: 50px;
position: relative;
margin-bottom: 30px;
padding-bottom: 50px;


}
h1 h2 p{

position: relative;
font-weight: 700;
font-size: 100px;
}



/* Upload contacts */
.upload-contact .aud-img {
  width: 15rem;
  height: 15rem;
  position: relative;
  justify-content: center;
  left: 30%;
  top: 100px;
  margin-bottom: 10rem;
}

.import-contact {
  margin: auto;
  width: 100%;
}
.import-contact img {
  display: block;
  margin: auto;
}
.import-contact .import-cont-heading {
  text-align: center;
  width: 100%;
  padding: 1rem;
}
.import-contact h1 {
  font-weight: 400;
  font-size: 51px;
}
.import-contact p {
  font-size: 19px;
}


.import-contact .import-cont-btn {
  width: 14rem;
  height: 3rem;
  background-color: #4eb1f5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 3rem 1rem;
  border-radius: none;
}
.Wrapper-audience {
  padding: 5px;
  width: 95%;
  margin: 20px auto;
}
.connect-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px;
}
.connect-col {
  flex: 1;
  border: 1px solid black;
  margin: 5px;
  padding: 60px;
  background-color: #fdfbfb;
}
h3 {
  color: #4eb1f5;
}
.connect-col img {
  width: 75px;
  justify-content: center;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  section .container {
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
    padding: 20px;
  }
}



/* -----addASubscriber Section */
#addASubscriber{
    position: relative;
    display: flex;
    padding:47px;
    margin: 40px;
    top:-6rem;
    display: none;
   }

   input[type=text], [type=email], [type=phone],select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .heading{
    padding: 1px;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    margin: 1px;
    margin-bottom: 20px;
  }
  
  
  .heading h2{
    font-size: 50px;
    margin-top: 20px;
    top:-3rem;
  }
  .heading p{
    font-size: 15px;
    margin-top: 8px;
    background-color: rgb(34, 174, 230);
    width: 60%;
    text-align: center;
    justify-content: center;
    height: 3rem;
   }

  .birth-date {
    display: flex;
    width: 15rem;
    height: 3rem;
    
  }
  .birth-date h1{
    height: 5rem;
    margin: 10px;
  }

input[type=checkbox]  {
  width: 1.5rem;
  padding: 5px;
  margin: 10px;
  height: 1.5rem;
  position: relative;
  display: block;

}
#subscribe {
  width: 9rem;
  height: 3rem;
  background-color: #565758;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 1rem 1rem;
  border-radius: none;
  position: absolute;
  display: block;
}
@media screen and (max-width: 960px) {
  #addASubscriber{
    width: 100%;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
  }
  h1 h2 h5 p{
    display: block;
    width: 100px;
    padding: 20px;
    margin: 10px;

  }
}

