@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  height: 70%;
  justify-content: center;
}
.container h1 {
  margin-top: 2rem;
}
.container h3 {
  font-size: 2.5rem;
  font-weight: 200;
}
.container h6 {
  font-size: 1.5rem;
  font-weight: 200;
}
section .container .audience-btn {
  width: 9rem;
  height: 2rem;
  background-color: #f1f1f1;
  float: right;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 18px;
}


/* Dropdown CSS */
.hide {
  max-height: 0 !important;
}

.dropdownn{
border: 0.1em solid black;
margin-bottom: 1em;
width: 12rem;
height: 2rem;
background-color: #fff;
float: right;
cursor: pointer;
margin-bottom: 2rem;
color: #333333;
font-size: 18px;
z-index:1000
}

.dropdownn .title{
margin: .3em .3em .3em .3em;	
width: 100%;
}

.dropdownn .title .fa-angle-right{
float: right;
margin-right: .7em;
transition: transform .3s;
}

.dropdownn .menu{
transition: max-height .5s ease-out;
max-height: 20em;
overflow: hidden;
}

.dropdownn .menu .option{
margin: .3em .3em .3em .3em;
margin-top: 0.3em;
}

.dropdownn .menu .option:hover{
background: rgba(0,0,0,0.2);
cursor: pointer;
}

.pointerCursor:hover{
cursor: pointer;
}

.rotate-90{
transform: rotate(90deg);
}



/* Upload contacts */
.upload-contact .aud-img {
  width: 15rem;
  height: 15rem;
  position: relative;
  justify-content: center;
  left: 30%;
  top: 100px;
  margin-bottom: 10rem;
}

.import-contact {
  margin: auto;
  width: 100%;
}
.import-contact img {
  display: block;
  margin: auto;
}
.import-contact .import-cont-heading {
  text-align: center;
  width: 100%;
  padding: 1rem;
}
.import-contact h1 {
  font-weight: 400;
  font-size: 51px;
}
.import-contact p {
  font-size: 19px;
}


.import-contact .import-cont-btn {
  width: 14rem;
  height: 3rem;
  background-color: #4eb1f5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 3rem 1rem;
  border-radius: none;
}
.Wrapper-audience {
  padding: 5px;
  width: 95%;
  margin: 20px auto;
}
.connect-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px;
}
.connect-col {
  flex: 1;
  border: 1px solid black;
  margin: 5px;
  padding: 60px;
  background-color: #fdfbfb;
}
h3 {
  color: #4eb1f5;
}
.connect-col img {
  width: 75px;
  justify-content: center;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  section .container {
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
    padding: 20px;
  }
}



/* -----addASubscriber Section */
#addASubscriber{
    position: relative;
    display: flex;
    padding:47px;
    margin: 40px;
    top:-6rem;
    display: none;
   }

   input[type=text], [type=email], [type=phone],select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .heading{
    padding: 1px;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    margin: 1px;
    margin-bottom: 20px;
  }
  
  
  .heading h2{
    font-size: 50px;
    margin-top: 20px;
    top:-3rem;
  }
  .heading p{
    font-size: 15px;
    margin-top: 8px;
    background-color: rgb(34, 174, 230);
    width: 60%;
    text-align: center;
    justify-content: center;
    height: 3rem;
   }

  .birth-date {
    display: flex;
    width: 15rem;
    height: 3rem;
    
  }
  .birth-date h1{
    height: 5rem;
    margin: 10px;
  }

input[type=checkbox]  {
  width: 1.5rem;
  padding: 5px;
  margin: 10px;
  height: 1.5rem;
  position: relative;
  display: block;

}
#subscribe {
  width: 9rem;
  height: 3rem;
  background-color: #565758;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 3rem 1rem;
  border-radius: none;
  position: absolute;
  display: block;
}
@media screen and (max-width: 960px) {
  #addASubscriber{
    width: 100%;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
  }
  h1 h2 h5 p{
    display: block;
    width: 100px;
    padding: 20px;
    margin: 10px;

  }
}