


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: #bbb;
}

.naviCont .headerNav{
    z-index: 1;
    background: rgb(88, 4, 128);
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    top: 0;
}

.naviCont .headerNav .headerMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.naviCont .headerNav .headerMenu .titleBar{
     color: #fff;
     font-size: 25px;
     text-transform: uppercase;
     font-weight: 700;
}

/* .naviCont .headerNav .headerMenu .titleBar span{
    color: #8c30f5;
} */

.naviCont .headerNav .headerMenu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: .3s;
    transition-property: color;
}

.naviCont .headerNav .headerMenu .sidebar-btn:hover{
    color: #bbb;
}

.naviCont .headerNav .headerMenu ul{
    display: flex;
}

.naviCont .headerNav .headerMenu ul li a{
    background: #fff;
    color: #8c30f5;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
    transition-property: background, color;
}

.naviCont .headerNav .headerMenu ul li a:hover{
    background: #8c30f5;
    color: #fff;
}

.naviCont .Sidebar{
    z-index: 1;
    background: #fff;
    position: fixed;
    top: 70px;
    width: 250px;
    height: 100%;
    transition: .3s;
    transition-property: width;
    overflow-y: auto;
}

.naviCont .Sidebar .sidebar-menu{
    overflow: hidden;
}

.naviCont .Sidebar .sidebar-menu .profileInfo img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.naviCont .Sidebar .sidebar-menu .profileInfo p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}

.naviCont .Sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
}
/* fa fa-menu */
.naviCont .Sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #8c30f5;
    position: relative;
    padding: 25px 20px;
    transition: .3s;
    transition-property: color;
}

.naviCont .Sidebar .sidebar-menu .item .menu-btn:hover{
    color: rgb(101, 6, 104);
}

.naviCont .Sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
}

.naviCont .Sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.naviCont .Sidebar .sidebar-menu .item .sub-menu{
    background: rgb(248, 246, 246);
    overflow: hidden;
    max-height: 0;
    transition: .3s;
    transition-property: background,  max-height;
}

.naviCont .Sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #8c30f5;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #01081e;
    transition: .3s;
    transition-property: background;
}

.naviCont .Sidebar .sidebar-menu .item .sub-menu a:hover{
    background-color: #fff;
}

.naviCont .Sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 14px;
}

.naviCont .Sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
}

.mainnContainer{
    width:    100%;
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background: rgb(238, 236, 236);
    background-size: cover;
    height: 100vh;
    transition: .3s;
}

.naviCont.collapse .Sidebar{
    width: 80px;
}

.naviCont.collapse .Sidebar .profileInfo img,
.naviCont.collapse .Sidebar .profileInfo p,
.naviCont.collapse .Sidebar a span{
    display: none;
}

.naviCont.collapse .sidebar-menu .item .menu-btn{
    font-size: 23px;
    
}
.naviCont.collapse .sidebar-menu .item .menu-btn i{
    font-size: 18px;
    padding-left: 3px;
}

.naviCont.collapse .mainnContainer{
    width: (100% - 70px);
    margin-left: 70px;
}