main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background: #8c30f51a;
}

h1 {
  color: #8c30f5;
}

#error {
  color: red;
  text-align: center;
}

.txt_field .fa {
  position: absolute;
  top: 50%;
  right: 8%;
  display: none;
}
.fa.times {
  color: red;
}
.fa-check {
  color: green;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
}

.btn {
  background: #8c30f5;
  color: #fff;
}

.btn:hover {
  background: #5d1ba8;
  color: #fff;
}

a {
  color: #8c30f5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #8c30f5;
}
a::after {
  color: #8c30f5;
}
/* @media (max-width: 991px) {
  .center-form,
  .center-form h1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .center-form form,
  form .txt_field {
    justify-content: center;
    width: 100%;
  }
} */
