*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#394d5e;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #394d5e;
}
section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    z-index: 1000;
}
section .container .contactinfo{
position: absolute;
top: 40px;
width: 25vw;
height:70vh;
background: #5b96c7;
z-index: 1;
padding: 40px;
flex-direction: column;
justify-self: space-between;
box-shadow: 0 20px 20px rgba(8, 8, 8, 0.2);

}

section .container .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

section .container .contactinfo .info li{
   position: relative;
   display: flex;
   margin:8px 0;
   cursor: pointer;
   align-items: flex-start; 
}
section .container .contactinfo .info li span:nth-child(1){
    width: 15px;
    min-width: 30px;
}

section .container .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    /* opacity: 0.5; */
}

section.container .contactinfo .info li:hover span:nth-child(1)img,
section .container .contactinfo .info li:hover span:nth-child(2){
    opacity: 1;
}
section .container .contactinfo .social-links {
    position: relative;
    display: flex;
}
section .container .contactinfo .social-links li{
    list-style: none;
    margin-right: 15px;
}
section .container .contactinfo .social-links li a{
    text-decoration: none;
}
section .container .contactinfo .social-links li a img{
    opacity: 0.5;
    margin-top: 100%;
}
section .container .contactinfo .social-links li:hover a img{
    opacity: 1;
}

section .container .contactForm{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: 58%;
    height: 100%;
}

section .container .contactForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}
section .container .contactForm .formBox  .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactForm .formBox .inputBox.w50{
    width: 47%;
}
section .container .contactForm .formBox .inputBox.w100{
    width: 100%;
}

section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea
{
    width: 100% !important;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border:none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .container .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}
section .container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5;
    pointer-events:none
}

section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span


{
transform: translateY(-20px);
font-size: 14px;
font-weight: 400;
letter-spacing: 1px;
color: #5b96c7;
}

section .container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background:#5b96c7;
    color: #fff;
    border:none;
    max-width: 150px;
    padding: 12px;
}
section .container .contactForm .formBox .inputBox input[type="submit"]:hover
{
    background: #0f3959;
    color: #fff;
}