@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #4eb1f5;
}
.contact .content-contact{
    max-width: 800px;
    text-align: center;
}
.contact .content-contact h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content-contact p{
    font-weight: 300;
    color: #fff;
}
.container-contact{
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-contact .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-contact .contactInfo .box-contact{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container-contact .contactInfo .box-contact .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container-contact .contactInfo .box-contact .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container-contact .contactInfo .box-contact .text h3{
    font-weight: 500;
    color: #010b1f;
}

.contactForm{
    width: 45%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none;
    resize: none;

}
.contactForm .inputBox span{
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color:#666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY((-20px));
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #4eb1f5;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px){
    .contact{
        padding: 20px;
    }
    .container-contact{
        flex-direction: column;
    }
    .container-contact .contactInfo{
        margin-bottom: 40px;
    }
    .container-contact .contactInfo,
    .contactForm{
        width: 100%;
    }
}