:root {
  --primary-color: #fff;
  --secondary-color: #8c30f5;
}

html,
body {
  height: 100vh;
}

label {
  margin-bottom: unset;
}

main {
  height: calc(100vh - 70px);
  display: flex;
}

/* Test email */
.test .btn {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.test .btn:hover {
  background: #511892;
}

/* Back Button Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save {
  height: 70px;
  color: #fff;
}

.save .button {
  padding: 1rem 0;
  background: none;
  border: none;
  outline: none;
  font-size: 1.3rem;
  color: #fff;
}
