@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #4eb1f5;
}

body {
  font-family: "Baloo Tamma 2", Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(234, 234, 245);
  background: linear-gradient(
    90deg,
    rgba(234, 234, 245, 1) 0%,
    rgba(78, 177, 245, 1) 100%
  );
}

a {
  text-decoration: none;
}
#notify a i:hover{
background-color: #4eb1f5;
color: #fff;
}

/* Utilities */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Nav Bar */
.navbar {
  padding: 0.4rem 0.8rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.2rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container > nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .container > nav > ul > li > a {
  padding: 0.3rem;
  margin: 0 0.25rem;
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.navbar .container > nav > ul > li > a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.navbar .container .logo p {
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-list .nav-items .current {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
}

/* Hamburger */
.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  float: right;
  outline: none;
  border: none;
  background: var(--secondary-color);
  margin-right: 5px;
  transition: all 0.5s ease-in-out;
}

.hamburger-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 3px 0;
  transition: all 0.5s ease-in-out;
}

.hamburger-box .hamburger-list {
  display: inline-block;
  height: 5px;
  background: var(--primary-color);
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.hamburger-box.open .hamburger-list1 {
  transform: rotate(45deg) translate(3px, 7px);
}

.hamburger-box.open .hamburger-list2 {
  transform: translate(-50px);
  background: transparent;
}

.hamburger-box.open .hamburger-list3 {
  transform: rotate(-45deg) translate(6px, -10px);
}

/* Main */
.main {
  display: flex;
  margin: auto;
  flex-direction: row;
  background-color: transparent;
  flex: 1.5;
}
.left {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  color: var(--secondary-color);
  flex: 1;
  padding: 1rem;
}
.left .dash-list ul li {
  border-bottom: 1px solid var(--primary-color);
  list-style: none;
}
.left .dash-list ul li a {
  color: var(--secondary-color);
}
.left .dash-list ul li:hover {
  font-size: 1.2rem;
}
.left .dash-pro h3 a {
  color: var(--secondary-color);
}
.left .dash-pro h3 a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}


.middle {
  height: 100%;
  width: 60%;
  background-color: transparent;
  border-right: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.middle .search-notify {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
}
.middle .search-notify i {
  color: var(--secondary-color);
}
.middle .search-notify .search input {
  height: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.middle .search-notify .search input::-webkit-input-placeholder {
  color: var(--secondary-color);
  font-family: "Baloo Tamma 2", Verdana, Geneva, Tahoma, sans-serif;
}
.middle .search-notify .search input::-moz-placeholder {
  color: var(--secondary-color);
  font-family: "Baloo Tamma 2", Verdana, Geneva, Tahoma, sans-serif;
}
.middle .search-notify .search input:-ms-input-placeholder {
  color: var(--secondary-color);
  font-family: "Baloo Tamma 2", Verdana, Geneva, Tahoma, sans-serif;
}
.middle .search-notify .search input::-ms-input-placeholder {
  color: var(--secondary-color);
  font-family: "Baloo Tamma 2", Verdana, Geneva, Tahoma, sans-serif;
}
.middle .search-notify .search input::placeholder {
  color: var(--secondary-color);
  font-family: "Baloo Tamma 2", Verdana, Geneva, Tahoma, sans-serif;
}
.middle .search-notify .search input[type="text"] {
  padding-left: 5px;
  color: var(--secondary-color);
}
.middle .chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.middle .chart img {
  height: 200px;
  width: auto;
}
.right {
  height: 40%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  flex: 1;
  padding: 1rem;
}
.right a {
  color: var(--secondary-color);
}
.right .tool ul {
  list-style: none;
}

.right .user {
  margin-top: 5px;
}

/* Footer */
footer {
  background: var(--secondary-color);
  padding: 0.5rem;
  padding-bottom: 0;
}

.foot {
  width: 30%;
  width: calc(100%);
}

footer .container .footer-content {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid var(--primary-color) 1px;
}

footer .container .footer-content .footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

footer .container .footer-content .footer-logo > p {
  padding: 1rem;
}

footer .container .footer-content .support {
  text-align: center;
  color: var(--primary-color);
}

footer .container .footer-content h2 {
  margin-bottom: 0.2rem;
}

footer .container .footer-content .support > ul {
  list-style: none;
}

footer .container .footer-content .support > ul > li {
  margin: 0.1rem 0;
}

footer .container .footer-content .support > ul > li > a {
  text-align: center;
  color: var(--primary-color);
}

footer .container .footer-content .socials {
  text-align: center;
  color: var(--primary-color);
}

footer .container .footer-content .socials a {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin: 0 0.3rem;
}

footer .container .footer-content .footer-logo > p:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
}

footer .container .copyright > p {
  padding-top: 0.6rem;
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar .container {
    flex-direction: column;
  }

  .navbar .container > .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .container > nav > ul {
    flex-direction: column;
  }

  .nav-list .nav-items {
    margin: 0.4rem;
  }

  .nav-list {
    height: 0;
    overflow: hidden;
    transition: all 1.2s ease;
    width: 100%;
  }

  .nav-list.show {
    height: 278.4px;
    transition: all 1.2s ease;
  }

  /* Hamburger Button */
  .hamburger {
    display: block;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
  }

  #mart {
    display: none;
  }

  .main .left {
    width: 100%;
    height: 70px;
    margin: 0;
  }
  .main .left .dash-list ul {
    width: 100%;
    display: flex;
    font-size: 0.75em;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;
  }
  .left .dash-list ul li a:hover {
    font-size: 0.8rem;
  }
  .dash-pro {
    display: none;
  }
  .main .middle {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* background-color: red; */
  }
  .main .middle .search-notify {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }
  .main .middle .search-notify .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .main .middle .chart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2px;
  }
  .main .middle .chart img {
    width: 110px;
    height: 110px;
  }

  .main .right {
    display: none;
  }

  /* Footer */
  footer .container .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .foot {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  footer .container .footer-content .footer-logo {
    flex-direction: column;
  }

  footer .container .footer-content .footer-logo > p {
    padding: 0.2rem;
    text-align: center;
  }
}
