:root {
  --primary-color: #fff;
  --secondary-color: #4eb1f5;
}

/* Main */
.emailTemp {
  padding: 1rem;
}

/* Layout */
.layout,
.themes,
.codeYourOwn {
  padding: 1rem;
}

h2 {
  margin-top: 1rem;
}

/* Featured */
.featured {
  display: flex;
  flex-wrap: wrap;
}

.featured .feature-box {
  width: 225px;
  text-align: center;
  margin: 20px;
}

.featured .feature-box img {
  width: 100%;
  border: 1px solid rgb(238, 232, 232);
}

.featured .feature-box img:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.featured .feature-box p {
  margin: 0;
}

.featured .feature-box p:first-of-type {
  font-weight: 800;
  margin-top: 1rem;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .featured .feature-box {
    margin: auto;
    padding: 1rem;
  }
}

/* Bootstrap unset */
a,
a:hover,
a:focus,
:active {
  text-decoration: none;
}

ul,
p {
  margin-bottom: unset;
}

button:focus,
button:active {
  cursor: unset;
  border: none;
  outline: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: unset;
  font-family: unset;
  font-size: unset;
  line-height: unset;
}

button {
  border-radius: unset;
}

.nav-tabs .nav-item a {
  color: var(--secondary-color);
}

.nav-tabs .nav-item a:hover {
  color: rgb(0, 123, 255);
}

.navbar {
  display: block;
  padding: 0.65rem 0.8rem;
}

.container {
  padding-right: unset;
  padding-left: unset;
}
