:root {
  --primary-color: #fff;
  --secondary-color: #4eb1f5;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}

h1 {
  font-weight: 800;
  color: #8c30f5;
}

/* Main */
.emailTemp {
  display: flex;
}

.active {
  color: #8c30f5;
}

.sidebar {
  background: #fff;
  width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.nav-item {
  margin: 1rem;
}

.nav-link {
  padding: 1rem 1rem;
  display: inline;
}

.temp-main {
  width: calc(100% - 300px);
}

/* Templates */
.templates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.templates h1 {
  font-weight: 700;
}

.templates a {
  background: #8c30f5;
  text-decoration: none;
  color: #fff;
  padding: 0.7rem;
  width: 150px;
  text-align: center;
}

.templates a:hover {
  background: #5f1eaa;
}

.email_temp {
  padding: 1rem;
}

.email_temp .search {
  width: 500px;
  height: 36px;
}

.email_temp .search input {
  width: 80%;
  padding: 5px;
  outline: none;
  border: none;
  border: 1px solid grey;
}

.email_temp .search button {
  outline: none;
  border: none;
  height: 100%;
  width: 9%;
  border: 1px solid grey;
  background: none;
  background: white;
}

#cancelBtn {
  background: red;
  display: none;
}

.email_temp .search i {
  vertical-align: middle;
  font-size: 20px;
}

.template_list {
  margin-top: 2rem;
}

.template_list .temp {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding: 1rem 0;
}

.template_list .temp .description {
  display: flex;
  align-items: center;
}

.template_list .temp .description .image {
  width: 120px;
  margin: 0 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}

.template_list .temp .description .image img {
  width: 100%;
  border-radius: 10px;
}

.template_list .temp .description .info {
  margin: 0 1rem;
}

.template_list .temp .description .info .template-name {
  font-size: 2rem;
  color: #8c30f5;
  font-weight: 600;
  border: none;
  background: none;
}

.template_list .temp .description .info .template-name:hover {
  color: #5f1eaa;
}

.template_list .temp .description .info p {
  font-size: 1.2rem;
}

.template_list .temp .description .info p span {
  font-weight: bold;
}

.template_list .temp .edit button {
  width: 100px;
  padding: 0.5rem;
  border: none;
  margin: 0 0.5rem;
  background: rgb(4, 172, 4);
  color: #fff;
}

.template_list .temp .edit button:last-child {
  background: red;
  color: #fff;
}

.template_list .temp .edit button:first-child:hover {
  background: rgb(7, 92, 7);
}

.template_list .temp .edit button:last-child:hover {
  background: rgb(136, 7, 7);
}

/* Mobile */
@media screen and (max-width: 768px) {
  .nav-link {
    padding: 0.5rem 0.5rem;
  }
}
