
/* middle heading */
.middleheading {
  text-align: center;
  margin-top: 2rem;
  color:black;
}
/* each suggest box */
#suggest {
  line-height: 2rem;
  margin: 1rem 2rem;
  width: 90%;
  border: 3px solid #8c30f5;
  padding: 1rem;
  border-radius: 1rem;
 background-color:white;
  letter-spacing: 1px;
  color: #8c30f5;
}
/* #index {
  display: none;
} */
/* responds */
#responds {
  display: flex;
}
#responds button {
  flex: 1;
  background: #fff;
  color:#8c30f5;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-around;
}
#responds button:hover {
  background-color:#8c30f5;
  color: #fff;
  border: 1px #fff solid;
}
/* reply textarea */
input {
  background-color: #8c30f5;
  color: #fff;
  border-radius: 1rem;
  padding: 10px;
}



/* Footer */
footer {
  background: var(--secondary-color);
  padding: 0.5rem;
  padding-bottom: 0;
}

.foot {
  width: 30%;
  width: calc(100%);
}

footer .container .footer-content {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid var(--primary-color) 1px;
}

footer .container .footer-content .footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

footer .container .footer-content .footer-logo > p {
  padding: 1rem;
}

footer .container .footer-content .support {
  text-align: center;
  color: var(--primary-color);
}

footer .container .footer-content h2 {
  margin-bottom: 0.2rem;
}

footer .container .footer-content .support > ul {
  list-style: none;
}

footer .container .footer-content .support > ul > li {
  margin: 0.1rem 0;
}

footer .container .footer-content .support > ul > li > a {
  text-align: center;
  color: var(--primary-color);
}

footer .container .footer-content .socials {
  text-align: center;
  color: var(--primary-color);
}

footer .container .footer-content .socials a {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin: 0 0.3rem;
}

footer .container .footer-content .footer-logo > p:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
}

footer .container .copyright > p {
  padding-top: 0.6rem;
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar .container {
    flex-direction: column;
  }

  .navbar .container > .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .container > nav > ul {
    flex-direction: column;
  }

  .nav-list .nav-items {
    margin: 0.4rem;
  }

  .nav-list {
    height: 0;
    overflow: hidden;
    transition: all 1.2s ease;
    width: 100%;
  }

  .nav-list.show {
    height: 278.4px;
    transition: all 1.2s ease;
  }

  /* Hamburger Button */
  .hamburger {
    display: block;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
  }

  #mart {
    display: none;
  }

  .main .left {
    width: 100%;
    height: 70px;
    margin: 0;
  }
  .main .left .dash-list ul {
    width: 100%;
    display: flex;
    font-size: 0.75em;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;
  }
  .left .dash-list ul li a:hover {
    font-size: 0.8rem;
  }
  .dash-pro {
    display: none;
  }
  .main .middle {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* background-color: red; */
  }
  .main .middle .search-notify {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }
  .main .middle .search-notify .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .main .middle .chart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2px;
  }
  .main .middle .chart img {
    width: 110px;
    height: 110px;
  }

  .main .right {
    display: none;
  }

  /* Footer */
  footer .container .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .foot {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  footer .container .footer-content .footer-logo {
    flex-direction: column;
  }

  footer .container .footer-content .footer-logo > p {
    padding: 0.2rem;
    text-align: center;
  }
}
