:root {
  --primary-color: #fff;
  --secondary-color: #8c30f5;
}
main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;

  background: #8c30f51a;
}

.form,
.form_text {
  display: flex;
  flex-direction: column;
  padding: 22px;
}

label {
  align-self: start;
  margin-left: 10%;
  margin-bottom: 0;
}
input {
  width: 80%;
  padding: 0 5px;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  outline: none;
  margin-bottom: 30px;
  align-self: center;
}
.pass:hover {
  text-decoration: underline;
}

.form > h1 {
  margin-bottom: 0;
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
a::after {
  color: var(--secondary-color);
}
.margin {
  margin: 30px;
}

input[type="submit"] {
  background: var(--secondary-color);
  align-self: center;
  width: 40%;
  color: var(--primary-color);
}
