:root {
    --primary-color: #fff;
    --secondary-color: #4eb1f5;
    --main-size: 18px;
  }
  main{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: center;
  }

.form, .form_text{
    display: flex;
    flex-direction: column;
    padding: 22px;
}
.text{
    font-size: var(--main-size);
}
label{
align-self: start;
margin-left: 10%;
margin-bottom: 0;
font-size: 20px;
}
input{
    width: 80%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    outline: none;
    margin-bottom: 30px;
    align-self: center;
}
input[type="submit"] {
    border: none;
    margin: 15px;
    font-size: 20px;
    padding: 15px;
    width: 300px;
    height: 50px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  .pass {
    color: var(--secondary-color);
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}

.form > h1{
    margin-bottom: 0;
    color: var(--secondary-color);
    font-size: 54px;
}

.sign_in a{
    font-size: 20px;
    color: #125b8b;
    text-decoration: none;      
}
.sign_up a{
    font-size: 20px;
    color: #125b8b;
    text-decoration: none;
}
.sign_up  a:hover{
    text-decoration: underline;
}
.sign_in a:hover{
    text-decoration: underline;
}

.margin{
    margin: 30px;
}
.support{
    font-size: 18px;
}