.nav1 {
  color: rgba(0, 0, 0, 0.9) !important;
}

/* Main Div */
.main {
  display: flex;
  justify-content: space-around;
}

.main .right {
  padding: 90px 0 0 0;
}

.main .right p:nth-child(1) {
  transform: translateX(-1000px);
  font-size: 50px;
  font-weight: bold;
  line-height: 1.6;
  -webkit-animation: heading 2s forwards ease;
  animation: heading 2s forwards ease;
}

.main .right p:nth-child(2) {
  transform: translateX(600px);
  font-size: 20px;
  opacity: 0;
  -webkit-animation: description 2s forwards ease;
  animation: description 2s forwards ease;
}

/* Keyframes */
@-webkit-keyframes heading {
  to {
    transform: translateX(0px);
  }
}
@keyframes heading {
  to {
    transform: translateX(0px);
  }
}

@-webkit-keyframes description {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes description {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.main .right button {
  color: #8c30f5;
  background: var(--primary-color);
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-family: "Baloo Tamma 2";
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-animation: opacity 2s 1.5s forwards ease;
  animation: opacity 2s 1.5s forwards ease;
}

/* Keyframes */
@-webkit-keyframes opacity {
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  to {
    opacity: 1;
  }
}

.main .right button:hover {
  background: #8c30f5;
  color: var(--primary-color);
  transition: all ease 0.5s;
}

.main .right button:focus {
  outline: 0;
}

.main .left {
  background-color: #8c30f5;
  height: 70vh;
  width: 70vh;
  margin: 5px 0 0 0;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.main .left .cover {
  background-image: url("../images/marketing-2.jpg");
  background-size: cover;
  height: 250px;
  width: 400px;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: -100px;
}

/* Section Main */
.growth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.growth .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.growth .top p:nth-child(1) {
  font-size: 40px;
  font-weight: bold;
}
.growth .top p:nth-child(2) {
  font-size: 20px;
}
.growth .top p:nth-child(3) {
  font-size: 20px;
}

.growth .bottom {
  display: flex;
  padding: 2rem;
  height: 200px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 3px;
  text-align: justify;
  border-radius: 50px;
  background: #ffffff;
  /* box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
}

.box i {
  font-size: 50px;
}

.box:hover {
  background-color: #fff;
}

.audience {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5rem 0;
}
.audience .right {
  background-image: url("../images/audience.png");
  background-size: cover;
  height: 350px;
  width: 400px;
  margin: 10px;
  border-radius: 50px;
}

.audience .left p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}

.audience .left a {
  text-decoration: underline;
  color: #8c30f5;
}

@media screen and (max-width: 600px) {
  .main {
    height: 70vh;
  }
  .main-hero .main-img {
    display: none;
  }
  .container2 {
    width: 100%;
    height: 60vh;
    /* background-color: red; */
  }

  .container2 .main-text h3 {
    font-size: 30px;
    width: 100%;
  }
  .container2 .main-text p {
    font-size: 30px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 70px;
  }

  .container2 .yellow-circle {
    position: absolute;
    left: 182px;
    top: 383px;
  }
  .container2 .turquoise-circle {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 42px;
    top: 30px;
  }
  .main .right {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    z-index: 1;
  }

  .main .right p:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.6;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .main .right p:nth-child(2) {
    font-size: 20px;
  }

  .main .left {
    margin: 10px 10px 0 -180px;
    border-radius: 51% 49% 88% 12% / 30% 59% 41% 70%;
  }

  .cover {
    visibility: hidden;
  }

  .growth {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #8c30f5;
    margin: 0px 10px 0px 10px;
    width: 95%;
    height: unset;
    color: var(--primary-color);
    border-radius: 10px;
    padding-top: -500px;
  }

  .growth .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .growth .top p:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
  }
  .growth .top p:nth-child(2) {
    font-size: 12px;
  }
  .growth .top p:nth-child(3) {
    font-size: 12px;
  }

  .growth .bottom {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    height: unset;
    color: #8c30f5;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
  }
  .box:hover {
    background-color: #fff;
    color: #8c30f5;
    border-radius: 10px;
  }

  .audience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .audience .right {
    width: 100%;
  }

  .audience .left p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    color: #8c30f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container2 {
  position: relative;
  width: 100%;
  height: calc(100vh - 63px);
  background: #ffffff;
}

.yellow-circle {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 562px;
  top: 383px;
  /* Brand / Orange 800 */
  background: #ffc278;
  border-radius: 50%;
}
.turquoise-circle {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 842px;
  top: 589px;
  /* Brand / Turquoise 800 */
  border-radius: 50%;
  background: #75e3ea;
}

.get-started {
  position: static;
  width: 196px;
  height: 62px;
  left: 0px;
  top: 308px;

  /* Brand / Purple */

  background: #8c30f5;
  border-radius: 8px;
  color: #fff;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 32px;
}

.get-started:hover {
  background: #5f1eaa;
  color: #fff;
}

.text-first {
  position: static;
  width: 540px;
  height: 196px;
  left: 0px;
  top: 0px;

  /* Heading / H1 */

  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  /* or 136% */

  font-feature-settings: "liga" off;

  /* Text / Gray 900 */

  color: #18191f;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 16px;
}

.text-second {
  position: static;
  width: 540px;
  height: 64px;
  left: 0px;
  top: 212px;

  /* Lead / Lead 1 */

  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  font-feature-settings: "liga" off;

  /* Text / Gray 900 */

  color: #18191f;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 16px;
}
/* .main-img {
  position: absolute;
  left: 52.02%;
  right: 11.97%;
  top: 32.53%;
  bottom: 22.76%;

  background: url(.jpg);
  Header Image Shadow

  box-shadow: 48px 24px 48px rgba(24, 37, 56, 0.12);
  border-radius: 8px;
  transform: rotate(-7deg);
} */
.main-hero {
  display: flex;
  position: absolute;
  left: 0;
  right: 11.97%;
  top: 12.53%;
  bottom: 22.76%;
}
