.nav-list .nav-items .nav1 {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
}

/* Main Div */
.main {
  display: flex;
  justify-content: space-around;
}

.main .right {
  padding: 90px 0 0 0;
}

.main .right p:nth-child(1) {
  transform: translateX(-1000px);
  font-size: 50px;
  font-weight: bold;
  line-height: 1.6;
  -webkit-animation: heading 2s forwards ease;
  animation: heading 2s forwards ease;
}

.main .right p:nth-child(2) {
  transform: translateX(600px);
  font-size: 20px;
  opacity: 0;
  -webkit-animation: description 2s forwards ease;
  animation: description 2s forwards ease;
}

/* Keyframes */
@-webkit-keyframes heading {
  to {
    transform: translateX(0px);
  }
}
@keyframes heading {
  to {
    transform: translateX(0px);
  }
}

@-webkit-keyframes description {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes description {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.main .right button {
  color: var(--secondary-color);
  background: var(--primary-color);
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-family: "Baloo Tamma 2";
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-animation: opacity 2s 1.5s forwards ease;
  animation: opacity 2s 1.5s forwards ease;
}

/* Keyframes */
@-webkit-keyframes opacity {
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  to {
    opacity: 1;
  }
}

.main .right button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: all ease 0.5s;
}

.main .right button:focus {
  outline: 0;
}

.main .left {
  background-color: var(--secondary-color);
  height: 70vh;
  width: 70vh;
  margin: 5px 0 0 0;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.main .left .cover {
  background-image: url("../images/marketing-2.jpg");
  background-size: cover;
  height: 250px;
  width: 400px;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: -100px;
}

/* Section Main */
.growth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
}

.growth .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.growth .top p:nth-child(1) {
  font-size: 40px;
  font-weight: bold;
}
.growth .top p:nth-child(2) {
  font-size: 20px;
}
.growth .top p:nth-child(3) {
  font-size: 20px;
}

.growth .bottom {
  display: flex;
  padding: 0 20px 0 20px;
  height: 200px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 3px;
  text-align: justify;
}

.box i {
  font-size: 50px;
}

.box:hover {
  background-color: white;
}

.audience {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.audience .right {
  background-image: url("../images/audience.png");
  background-size: cover;
  height: 350px;
  width: 400px;
}

.audience .left p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}

.audience .left a {
  text-decoration: underline;
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  .main {
    height: 70vh;
  }
  .main .right {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    z-index: 1;
  }

  .main .right p:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.6;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .main .right p:nth-child(2) {
    font-size: 20px;
  }

  .main .left {
    margin: 10px 10px 0 -180px;
    border-radius: 51% 49% 88% 12% / 30% 59% 41% 70%;
  }

  .cover {
    visibility: hidden;
  }

  .growth {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--secondary-color);
    margin: 0px 10px 0px 10px;
    width: 95%;
    height: unset;
    color: var(--primary-color);
    border-radius: 10px;
    padding-top: -500px;
  }

  .growth .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .growth .top p:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
  }
  .growth .top p:nth-child(2) {
    font-size: 12px;
  }
  .growth .top p:nth-child(3) {
    font-size: 12px;
  }

  .growth .bottom {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    height: unset;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
  }
  .box:hover {
    background-color: white;
    color: var(--secondary-color);
    border-radius: 10px;
  }

  .audience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .audience .right {
    width: 100%;
  }

  .audience .left p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
