.nav3 {
  color: rgba(0, 0, 0, 0.9) !important;
}

* {
  box-sizing: border-box;
}
.box{
  padding: 0rem 1rem 5rem;
}
.card-header{
  text-align: center;
}
.h-one{

 background: #ADFF2F; 
}
.h-two{
  background: #FF7F50;
}
.h-three{
  background: #87CEFA;
}
.h-four{
  background:violet;

}
.card-body h3{
  text-align: center;
}
.b-one i{
  color: #ADFF2F;
}
.btn-one{
  border-color: #ADFF2F;
  outline: #ADFF2F;
}
.btn-one:hover{
  background-color: #ADFF2F;
  outline: #ADFF2F;
}
.btn-one a{
  text-decoration: none;
  color: black;
}
.b-two i{
  color:  #FF7F50;;
}
.btn-two{
  background-color: #FF7F50;
  border-color:  #FF7F50;
}
.btn-two:hover{
  background-color: white;
  color: black;
  border-color:  #FF7F50;
}
.b-three i{
  color:   #87CEFA;
}
.btn-three{
  background-color: #87CEFA;
  border-color:   #87CEFA;
}
.btn-three:hover{
  background-color: white;
  color: black;
  border-color:   #87CEFA;
}
.b-four i{
  color:   violet;
}
.btn-four{
  background-color:violet;
  border-color:violet;
}
.btn-four:hover{
  background-color: white;
  color: black;
  border-color:   violet;
}
.containeri{
  background-color: #8c30f5;
  text-align: center;
  padding: 3% 10% 5%;
}
@media screen and (max-width: 767px){
  .containeri{
    padding: 3% 10% 2%;
    background-color: white;
  }
  .containeri h1{
    font-size: 1.7rem;
    line-height: 1.5;
  }
  .row{
    margin: 0 2rem;
  }
}