@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

/* middle heading */
.middleheading {
    text-align: center;
    color: black;
    margin: 2% 0;
}
/* styling reply box */
#comment{
    
    background-color: white;
    border-radius: 10px;
    letter-spacing: 1px;
    width: 80%;
    height:14rem;
    margin-left: 5rem;
    margin-top: 1rem;
    border-color: #3e3549;
}
/* whiziwig */
fieldset{
    margin-top: 10%;
    display: flex;
   justify-content: center;
}
fieldset button{
    width: 2.5rem;
    height: 3rem;
    color: #8c30f5;
  background-color: white;
    border-radius: 5px;
    padding: 0.1rem;
    border-radius: 5px;
    margin: 0 1rem;
} 
fieldset button:hover{
  color: white;
  background-color: #8c30f5;
}
fieldset input{
  color: #8c30f5;
    background: #fff;
    width: 2.5rem;
    height: 3rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.1rem;
    font-weight: bold;
  }
  fieldset input:hover{
    color: white;
  background-color: #8c30f5;
  }
  /* Send button */
  #sendbutton{
    padding: 10px;
    width: 50%;
    background:#fff;
    border-radius: 5px;
    font-size: 1rem;
    color: #8c30f5;
    font-weight: 600;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 10px;
    
  }
  #sendbutton:hover {
    background-color: #8c30f5;
    color: #fff;
  }
  /* icons */
  .nav-item i{
    color: #c4c4c4;
  }


  /* Footer */
  footer .container .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .foot {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  footer .container .footer-content .footer-logo {
    flex-direction: column;
  }

  footer .container .footer-content .footer-logo > p {
    padding: 0.2rem;
    text-align: center;
  }
