@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
:root {
  --primary-color: #fff;
  --secondary-color: #8c30f5;
}

a {
  color: var(--secondary-color);
}

a::after {
  color: var(--secondary-color);
}

.nav-item a:hover {
  color: initial;
}

.btn {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn:hover {
  background: #5f1eaa;
  color: #fff;
}
/* Style the tab */
.main .tab {
  display: flex;
  align-items: stretch;
  background: #000;
  flex-wrap: wrap;
  margin-bottom: 0px;
  width: inherit;
}

.main .tabcontent h2 {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 900;
  margin-top: 15px;
}

.main .tabcontent h3 {
  -webkit-text-decoration: 1px solid;
  text-decoration: 1px solid;
  line-height: 2;
  font-weight: 900;
  margin-top: 30px;
  color: var(--primary-color);
  line-height: 2;
  text-align: center;
  width: inherit;
  font-size: x-large;
  background-color: black;
}

.main .tabcontent h6 {
  text-transform: uppercase;
  line-height: 3;
  text-decoration: unset;
}

.main .tabcontent h5 {
  font-weight: bold;
  line-height: 2;
}
.main .tabcontent p {
  line-height: 2;
}

/* Style the buttons that are used to open the tab content */
.main .tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding: 14px 16px;
  transition: 0.3s;
  flex-grow: 1;
  border-radius: 0;
}

/* Change background color of buttons on hover */
.main .tab button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Create an active/current tablink class */
.main .tab button.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 900;
  text-align: center;
}

/* Style the tab content */
.main .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin-top: 0px;
  width: inherit;
}

/* STYLE THE EDIT ACCOUNT INFO PAGE*/
section {
  display: flex;
  flex-flow: row wrap;
}
section > div {
  flex: 1;
  padding: 0.5rem;
}
/* STYLE THE MANAGE MY DATA TAB ITEMS  */

.radio {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1rem;
  margin: 20px;
}
.radio:focus-within .radio__label {
  transform: scale(1.05);
  opacity: 1;
}

.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: flex;
}
.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio-before .radio__control {
  display: grid;
  place-items: center;
}
.radio-before input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em var(--secondary-color);
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}
.radio-before input:checked + .radio__control::before {
  transform: scale(1);
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid;
  transform: translateY(-0.05em);
}
.main input[type="radio"] {
  display: none;
}
.main input[type="radio"]:not(:disabled) ~ {
  cursor: pointer;
}
/* input[type="radio"]:disabled ~ label {
  color: hsla(150, 5%, 75%, 1);
  border-color: hsla(150, 5%, 75%, 1);
  box-shadow: none;
  cursor: not-allowed;
} */
.days label {
  height: auto;
  display: block;
  background: white;
  border: 0.5px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}

.main input[type="radio"]:checked + label {
  background: var(--secondary-color);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px var(--secondary-color);
}
.main input[type="radio"]:hover + label {
  background: var(--secondary-color);
  color: hsla(215, 0%, 100%, 1);
  /* box-shadow: 0px 0px 20px var(--secondary-color); */
}
.main input[type="radio"]:checked + label ::after {
  color: var(--secondary-color);
  font-family: FontAwesome;
  border: 2px solid var(--secondary-color);
  content: "\f00c";
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
}
.main input[type="radio"]#control_04:checked + label {
  background: red;
  border-color: red;
}
.main h6 {
  text-decoration: underline;
  -webkit-text-decoration: 1px solid;
  text-decoration: 1px solid;
  font-weight: bold;
  display: inline;
}
.unique {
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  font-weight: 100;
  color: var(--secondary-color);
}
@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
.headerr {
  width: inherit;
  height: 100px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerr h1 {
  font-weight: 600;
}
/* .main{
  display: flex;
  flex-direction: row;
} */
.main .button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: var(--secondary-color);
  color: var(--primary-color);
  /* border-radius: 8px; */
  /* border: 2px solid var(--secondary-color); */
  padding: 10px 15px;
  text-align: center;
  transition-duration: 0.4s;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;
}
.main .button:hover {
  background-color: #5f1eaa;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 25px;
  }
  h5 {
    font-size: 17px;
  }
  .tabcontent {
    width: 60vw;
    align-self: center;
  }
}
.main .modally #output {
  width: 100px;
  height: 100px;
}
.btn-div {
  display: flex;
}
.btn-div button {
  margin-right: 30px;
}
.btn-label {
  align-self: center;
  margin-bottom: 0px;
}
.edit input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid gray;
  transition: all 0.5s ease-in-out;
}

.edit input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #8c30f5;
  transition: all 0.5s ease-in-out;
}
.profile_form {
  display: flex;
  flex-direction: column;
}
.modal-header,
.modal-footer {
  background-color: black;
  color: #fff;
}
.close {
  color: var(--primary-color);
}
.main hr.rule {
  border-top: 1px solid rgb(165, 165, 165);
  margin-bottom: 40px;
}
