@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #8c30f5;
}

body {
  font-family: "Manrope", sans-serif;
}

header {
  background: #fff;
}

button {
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

header {
  border-bottom: 1px solid black;
}

#usersname111 {
  color: #8c30f5;
  text-align: center;
}

/* Modal Styles */
.modal-header {
  background: #0b0d17;
  color: #fff;
}

.modal-header h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
}

.modal-header button,
.modal-header button:hover {
  color: #fff;
}

/* Sticky Note */
.sticky-note {
  height: 350px;
  width: 350px;
  background: #8c30f5;
  color: #fff;
}

/* Navbar */
.logo-nav {
  width: 138px;
}

.navbar {
  font-weight: 700;
}

.navbar .navbar-brand {
  color: #8c30f5;
}

.navbar .navbar-brand:hover {
  color: #560ea8;
}

.right-nav {
  display: flex;
  align-items: center;
  padding: 0px;
}

.right-nav .btn {
  font-size: 14px;
  border-radius: 8px;
  width: 74px;
}

.right-nav .btn:first-child {
  background: #f1e4ff;
  color: #8c30f5;
}

.right-nav .btn:first-child:hover {
  background: #c0a7db;
  color: #fff;
}

.right-nav .btn:last-child {
  background: #8c30f5;
  color: #fff;
}

.right-nav .btn:last-child:hover {
  background: #5f1eaa;
}

/* Footer */
footer {
  background: #0b0d17;
  color: #fff;
}

footer .container {
  max-width: 1400px;
}

footer a {
  color: #fff;
}

footer .container .footer-content .company-info h1 {
  color: #8c30f5;
}

footer ul {
  list-style: none;
}

footer ul a {
  color: #fff;
  font-family: "Rubik", sans-serif;
}

footer a:hover {
  color: #8c30f5;
}

footer .container .footer-content .links p {
  color: #8c30f5;
  font-size: 20px;
}

footer .container .footer-content .company {
  width: 100%;
}

footer .container .footer-content .support {
  width: 100%;
}

footer .container .footer-content .newsletter {
  width: 100%;
}

footer .container .footer-content .newsletter .subscribe {
  background: #474a57;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
}

footer .container .footer-content .newsletter .subscribe input {
  background: none;
  color: #fff;
  outline: none;
  border: none;
}

footer .container .footer-content .newsletter .subscribe button {
  background: none;
  color: #fff;
  outline: none;
  border: none;
}

.newsletter .subscribe input[type="email"]:focus,
.newsletter .subscribe input[type="email"]:active {
  background: none;
  color: #fff;
  outline: none;
  border: none;
}

/* Back Button Footer */
.back-footer {
  height: 70px;
  color: #fff;
  width: 70%;
  margin: auto;
}

.back-footer i {
  color: #fff;
}

.back-footer .back-button {
  padding: 1rem 0;
  background: none;
  border: none;
  outline: none;
  font-size: 1.3rem;
  color: #fff;
}

/* Sign In */
#error {
  color: red;
  text-align: center;
}

.txt_field .fa {
  position: absolute;
  top: 50%;
  right: 8%;
  display: none;
}
.fa.times {
  color: red;
}
.fa-check {
  color: green;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
}

.login-btn {
  background: #8c30f5 !important;
  color: #fff !important;
}

.login-btn:hover {
  background: #5f1eaa !important;
  color: #fff !important;
}

.login-title span {
  color: #8c30f5;
}

.center-form a {
  color: #8c30f5;
  text-decoration: none;
}
.center-form a:hover {
  text-decoration: underline;
  color: #8c30f5;
}
.center-form a::after {
  color: #8c30f5;
}

@media screen and (max-width: 767px) {
  /* Navbar */
  .right-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-nav .btn {
    margin: 0.5rem 0;
  }

  /* Footer */
  footer .container .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .container .footer-content .company {
    margin-bottom: 2rem;
  }

  footer .container .footer-content .support {
    margin-bottom: 2rem;
  }

  footer .container .footer-content .links {
    flex-direction: column;
  }

  footer .container .footer-content .footer-logo {
    flex-direction: column;
  }

  footer .container .footer-content .footer-logo > p {
    padding: 0.2rem;
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .register {
    padding: 0 !important;
  }
}
