/* body */
body {
  background-attachment: #6a7277;
  background: #f4f5f7;
}

.select-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  text-align: center;
  color: black;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}
/* images categories */
.img {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.img div a:hover {
  opacity: 0.3;
}
.img div a img {
  max-width: 300px;
  max-height: 100px;
}
.img div h4 {
  color: black;
  text-align: center;
}
/* Select category */
.selectcat {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
.selectcat h2 {
  color: black;
  font-size: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}
.selectcat select {
  width: 60%;
  color: #8c30f5;
  padding: 0.4rem;
  border: #8c30f5 solid;
  border-radius: 7px;
  font-size: 1rem;
}
.selectcat select option {
  color: #8c30f5;
  padding: 1rem;
}
.categorylists option {
  padding: rem;
}
/* suggestion Text Area */
.mainsuggestion {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
.mainsuggestion h2 {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.mainsuggestion textarea {
  width: 60%;
  height: 10rem;
  border: #8c30f5 solid;
  border-radius: 7px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

fieldset {
  margin: 1rem;
}

fieldset input {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #8c30f5;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
/* Send button */
.mainsuggestion button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 10px;
  background: #8c30f5;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.mainsuggestion button[type="button"] {
  width: 120px;
  height: 40px;
  padding: 0.5rem;
}

.mainsuggestion button:hover {
  background-color: #fff;
  color: #8c30f5;
}
/* Mobile view */
@media screen and (max-width: 768px) {
  .img {
    flex-direction: column;
    align-items: center;
  }

  /* select category */
  .selectcat select {
    width: 70%;
  }
  /* suggestion Text area */
  .mainsuggestion textarea {
    width: 90%;
  }
  /* images */
  .img div a img {
    margin: 1rem 0;
  }
  .img div h4 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
  }
}
